@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200&display=swap');
*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
a{
    text-decoration: dotted;
    cursor: pointer;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 800;
    padding: 20px;
}
a:hover{
    opacity:3;
    color: rgb(13, 196, 53);
    transition: 0.5s;
}/***
.botoes{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.botaovoltar{
    background-color: #4c93af;
    border: none;
    color: white;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
    margin-right: 15px;
}
.botaovoltar:hover{
    transform: translateY(-5px);
    cursor: pointer;
    color: #191c03;
    transition: 0.5s;
}
.botaopassar{
    background-color: #4c93af;
    border: none;
    color: white;
    padding: 15px 18px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    border-radius: 8px;
}
.botaopassar:hover{
    transform: translateY(-5px);
    cursor: pointer;
    color: #191c03;
    transition: 0.5s;
}
***/
.row{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}
.card{
    border-radius: 5px;
    box-shadow: 7px 7px 13px rgba(50, 50, 50, 0.22);
    padding: 20px;
    margin: 20px;
    width: 400px;
    transition: all 03.s ease-out;
    background-color: #e9e9e9;
}
.card:hover{
    transform: translateY(-5px);
    cursor: pointer;
}
.card a{
    color: rgb(0, 0, 0);
    font-size: 16px;
    margin-right: 45px;
}
.card a:hover{
    opacity:3;
    color: rgb(13, 196, 53);
    transition: 0.5s;
}
.card p{
    color: rgb(0, 0, 0);
    font-size: 18px;
    margin-right: 45px;
    padding-top: 5px;
}
.green{
    border-left: 3px solid #3bbc4a;
}
.red{
    border-left: 3px solid #bc3f3b;
}
.blue{
    border-left: 3px solid #3ba2bc;
}
.bronw{
    border-left: 3px solid #ec6409;
}
.pag-descricao{
    display: flex;
    flex-direction: column;
    justify-content: baseline;
    align-items: flex-start;
    padding-top: 25px;
    padding-left: 99px;
}
.pag-descricao p{
    font-size: 1.0rem;
    margin-bottom: 15px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}
.pag-descricao h2{
    text-transform: uppercase;
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #000000;
    font-family: 'Poppins', sans-serif;
}

/**
===================================================tutoriais==============================================
**/

nav{
    display: flex;
    justify-content: center;
    align-items: center;
}
li a{
    color: white; text-transform: uppercase;
}
a{
    text-decoration: dotted;
    cursor: pointer;
    opacity: 0.9;
    font-size: 18px;
    font-weight: 800;
    padding: 20px;
}
a:hover{
    opacity:3;
    color: rgb(13, 196, 53);
    transition: 0.5s;
}
li{
    list-style: none;
}
.tutorial-novo{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px;
    background-color: #DEB887;
}
button{
    border-radius: 5px;
    padding: 8px 8px;
    border: none;
    width: 90px;
    cursor: pointer;
    margin-left: 5px;
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    
}
button:hover{
    background-color: rgb(24, 167, 55);
    color: black;
    transition: all 0.5s ease-out;
    transform: translateX(5px);
}
input{
    background-color: #e9e9e9;
    color: rgb(0, 0, 0);
    border-radius: 5px;
    padding: 8px 8px;
    margin: 6px;
    border: none;
    width: 350px;
}


footer{
    min-height: 35vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
}
.creditosfinais{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.creditosfinais p{
    color: #000000;
    margin-left:35px;
}
.tutoriais-div{
    background-color: #DEB887;
    min-height: 100vh;
}
.nav-tutoriais{
    background-color: #DEB887;
    padding: 15px;
}
.rodape-tutoriais{
    min-height: 10vh;
    display: flex;
    justify-content: space-around;
    padding: 20px 50px;
    background-color:  #DEB887;
}